body {
    font-family: "Roboto", "Raleway", sans-serif;
    color: #434455;
    background-color: #fff;
    line-height: 24px;
    letter-spacing: 0.02;
}
a:hover, a:focus {
    color: #404bbf;
}
.header {
    background-color: #FFFFFF;
    font-size: 16px;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: #4D5AE5;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03;
}
.logo-header {
    color: #2E2F42;
}
.header-nav {
    gap: 40px;
    font-weight: 500;
    color: #2E2F42;
}
.header-contacts {
    font-weight: 400;
    color: #434455;
}
.hero {
    background-color: #2E2F42;
}
.hero-text {
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
}
.hero-btn {
    font-weight: 500;
    background-color: #4d5ae5;
    letter-spacing: 0.04;
    cursor: pointer;
}
.hero-btn:hover, .hero-btn:focus {
    color: #404bbf;
}
.benefits-header {
    font-weight: 500;
    font-size: 20px;
    color: #2E2F42;
}
.benefits-text {
    font-weight: 400;
    font-size: 16px;
    color: #434455;
}
.team {
    text-align: center;
    color: #2E2F42;
    background-color: #f4f4fd;
}
.team-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
}
.team-list {
    background-color: #FFFFFF;
    text-align: center;
}
.team-item-header {
    font-weight: 500;
    font-size: 20px;
}
.team-item-text {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
}
.footer {
    color: #F4F4FD;
    background-color: #2E2F42;
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
}